<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Instagram Gallery -->

    <section id="sec-7">
    <section class="insta-gallery">
      <img src="..\static\download1.jpg" alt="img1" />
      <img src="..\static\download2.jpg" alt="img2" />
      <img src="..\static\download3.jpg" alt="img3" />
      <img src="..\static\download5.jpg" alt="img4" />
      <img src="..\static\Cloudy.jpg" alt="img5" />
      <img src="..\static\extra.jpg" alt="img6" />
    </section>

    <p class="insta-text">
      Follow us on Instagram
      <a href="#">@flowy.rainn</a>
    </p>

    <!-- Footer -->
    <footer>
      <div class="footer-top">
        <!-- Left Links -->
        <div class="footer-col">
          <!-- <h3>About Us</h3> -->
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Current Weather</a></li>
            <li><a href="#">Predict Weather</a></li>
            <li><a href="#">Irigation Technique</a></li>
          </ul>
        </div>

        <!-- Newsletter -->
        <div class="footer-col newsletter">
          <h3>Get Updates</h3>
          <!-- Social Icons -->
          <p>Connect with me</p>
          <div class="social-icons">
            <a
              href="https://www.linkedin.com/in/shalu-chaudhary-345100254
"
              target="_blank"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                alt="LinkedIn"
              />
            </a>
            <a href="https://www.instagram.com/flowy.rainn" target="_blank">
              <img
                src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                alt="Instagram"
              />
            </a>
            <a href="https://github.com/shalu16chaudhary" target="_blank">
              <img
                src="https://cdn-icons-png.flaticon.com/512/733/733553.png"
                alt="GitHub"
              />
            </a>
            <a
              href="https://x.com/shalu6037247422?t=dwtK95T2GuQ7Qzju51uFLA&s=09"
              target="_blank"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/733/733579.png"
                alt="Twitter"
              />
            </a>
          </div>
          <input type="email" placeholder="Email" />
          <input type="text" placeholder="First Name" />
          <button>SEND</button>
        </div>

        <!-- Contact -->
        <div class="footer-col">
          <h3>Send me A Message</h3>
          <p>(845)-356-XXXX</p>
          <p>Agra <br />Uttar Pradesh</p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>© All Right Reserved</p>
        <p>Privacy Policy | Website by Shalu Chaudhary</p>
      </div>
    </footer>
    </section>
  </body>
</html>
