<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container">
    <a class="navbar-brand logo" href="#">
      <i class="fa-solid fa-cloud-showers-heavy top-icon"></i> WeatherApp
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#sec-1">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#sec-3">Current Weather</a></li>
        <li class="nav-item"><a class="nav-link" href="#sec-4">Weather Prediction</a></li>
        <li class="nav-item"><a class="nav-link" href="#sec-5">Irrigation Details</a></li>
        <li class="nav-item"><a class="nav-link" href="#sec-7">Contact</a></li>
      </ul>
      <a href="#signup" class="btn btn-light start-btn ms-lg-3">Start for free →</a>
    </div>
  </div>
</nav>













<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo" href="#">
    <i class="fa-solid fa-cloud-showers-heavy top-icon"></i>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="#sec-1">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#sec-3">Current Weather</a></li>
      <li class="nav-item"><a class="nav-link" href="#sec-4">Weather Prediction</a></li>
      <li class="nav-item"><a class="nav-link" href="#sec-5">Irrigation Details</a></li>
      <li class="nav-item"><a class="nav-link" href="#sec-7">Contact</a></li>
    </ul>
  </div>
</nav> -->
